
<form [formGroup]="form" (ngSubmit)="registrar()">
    <h1>Formulario de registro de usuarios</h1>
    <mat-form-field class="full-width">
        <mat-label>Ingresa tu nombre</mat-label>
        <input matInput formControlName="nombres">
      </mat-form-field>
    
     
      <mat-form-field class="full-width">
        <mat-label>Ingresa tu correo</mat-label>
        <input matInput formControlName="correo">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label >Contraseña</mat-label>
        <input  matInput [type]="hide() ? 'password' : 'text'"   formControlName="contrasena"/>
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label >Confirmar Contraseña</mat-label>
        <input  matInput [type]="hide() ? 'password' : 'text'"  formControlName="ccontrasena"/>
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button type="submit" [disabled] = "form.invalid" mat-flat-button>Logearse</button>
      
</form>
